options:
  custom_registries:
    type: string
    default: "[]"
    description: |
      Registry credentials. Setting this config allows Kubelet to pull images from
      registries where auth is required.

      The value for this config must be a JSON array of credential objects, like this:
        [{"url": "https://my.registry:port", "username": "user", "password": "pass"}]
  gpu_driver:
    type: string
    default: "auto"
    description: |
      Override GPU driver installation.  Options are "auto", "nvidia", "none".
  runtime:
    type: string
    default: "auto"
    description: |
      Set a custom containerd runtime.  Set "auto" to select based on hardware.
  shim:
    type: string
    default: "containerd-shim"
    description: |
      Set a custom containerd shim.
  http_proxy:
     type: string
     default: ""
     description: |
        URL to use for HTTP_PROXY to be used by Docker. Useful in
        egress-filtered environments where a proxy is the only option for
        accessing the registry to pull images.
  https_proxy:
    type: string
    default: ""
    description: |
        URL to use for HTTPS_PROXY to be used by Docker. Useful in
        egress-filtered environments where a proxy is the only option for
        accessing the registry to pull images.
  no_proxy:
    type: string
    default: ""
    description: |
        Comma-separated list of destinations (either domain names or IP
        addresses) which should be accessed directly, rather than through
        the proxy defined in http_proxy or https_proxy. Must be less than
        2023 characters long.